.buy_Leads_main_container {
  width: 100%;
  padding: 0px 20px;
}

.top_fillter_bar_container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_bar_leads_option_box {
  width: 25%;
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leads_container {
  margin-top: 50px;
}

/* Buying leadscard */

.card_container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 200px;
  padding: 20px;
}
